version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      postgresql:
        patterns:
          - "*postgresql*"
      maven:
        patterns:
          - "*maven*"
      kotlin:
        patterns:
          - "*kotlin*"

  - package-ecosystem: "npm"
    directory: "/e2e"
    schedule:
      interval: "yearly"
