*.class
**/target


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JetBrains
.idea
**/*.iml

# Downloaded utilities
# Available in: http://jwtenizr.sh/ and https://github.com/AdamBien/jwtenizr/releases/tag/0.0.4
jwtenizr.jar
microprofile-config.properties
jwtenizr-config.json
token.jwt
config.yml
config_cert.yml
config_copy.yml
jwt-tokens
jwt-token.json
sendMoney.sh
askCredit.sh
createUser.sh
createAccount.sh

# MACOS
.DS_Store

# Coveralls
.coveralls.yml

# Codecov
codecov.yml

## Logs
logs

## Node
node_modules

## Security
*.pem

# Shade Plugin
dependency-reduced-pom.xml

# Your Finance
your-finance-images/jwtenizr
your-finance-images/yf
tokenNameValue.csv

# Cypress
screenshots
videos
